.fullPicture {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    max-height: 90%;
    max-width: 90%;
}

.fullPictureContainer {
    position: fixed;
    background-color: #292929bd;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}