.card{
    border: 1px black solid;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 5px;
}

.container_img{
    min-height: 5em;
}

.popup{
  position: fixed;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.747);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 999999;

}

.popup__content{
    background-color: white;
    margin: 1em;
    width: 60%;
    min-width: 200px;
    padding: 1em;
    overflow: auto;
}

.card.projects{
    display: flex;
    flex-flow: row wrap;
}

.card.illustrations{
    display: flex;
    flex-flow: row wrap;
}

.card.projects .container_img.container_img_project{
    max-width: 10em;
    max-height: 10em;
}
.card.illustrations .container_img.container_img_picture{
    max-width: 10em;
    max-height: 10em;
}

.card.projects .container_img.container_img_project .picture{
    max-width: 10em;
    max-height: 10em;
}
.card.illustrations .container_img.container_img_picture .picture{
    max-width: 10em;
    max-height: 10em;
}