.container_img {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 5px;
}

.illustration_container_home .picture {
    max-height: 15em!important;
    height: 100%;
    width: 100%;
}

.text_picture.background{
    background-color: black;
    opacity: 0.4;
}

.container_img_project:hover {
    opacity: 0.8;
}

.container_img:hover {
    opacity: 0.8;
}