.header__container {
  margin-bottom: 1em;
  height: 8em;
  position: sticky;
  background-attachment: fixed;
  top: 0;
  background: url(https://launay-esteban.ovh/public_files/illustrations_lola/projects/1_aquarelles_europe/Pie%20Bavarde.png) no-repeat;
  background-size: cover;

  z-index: 999;
}


.header__text {
  color: white;
  font-size: xxx-large;
}