.container_img {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 5px;
}

.picture {
    text-overflow: ellipsis;
    height: 15em;
}


.text_picture.background{
    background-color: black;
    opacity: 0.4;
}

.container_img_project:hover {
    opacity: 0.8;
}

.container_img:hover {
    opacity: 0.8;
}