.illustration_container{
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    justify-content: center;
}

.text_picture {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
}